<div class="my-container">
    <mat-toolbar>
        <h2>AJOUTER FORMATEUR</h2>
    </mat-toolbar><br>
    <form [formGroup]="options" (ngSubmit)="addFormateur()">
        <mat-form-field appearance="fill">
            <mat-label>Nom</mat-label>
            <input matInput placeholder="entrez votre nom" formControlName="nom">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Prenom</mat-label>
            <input matInput placeholder="entrez votre prenom" formControlName="prenom">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput placeholder="entrez votre e-mail" formControlName="email">
        </mat-form-field><br>
        <mat-form-field appearance="fill">
            <mat-label>Telephone</mat-label>
            <span matPrefix>+223 &nbsp;</span>
            <input type="number" matInput placeholder="entrez votre numéro" formControlName="telephone">
            <mat-icon matSuffix>phone</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Genre</mat-label>
            <select matNativeControl formControlName="genre">
              <option value="Homme">Homme</option>
              <option value="Femme">Femme</option>
              <option value="Aucune" disabled>--None--</option>
            </select>
        </mat-form-field><br>
        <mat-form-field appearance="fill">
            <mat-label>Age</mat-label>
            <input matInput type="number" placeholder="entrez votre âge" formControlName="age">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Date création</mat-label>
            <input matInput type="date" formControlName="dateCreation">
        </mat-form-field>
        <div>
            <button mat-raised-button type="submit" color="primary" [disabled]="!options.valid">Valider</button>
        </div>
    </form>
</div>
