<h1><b>Listes des presences</b></h1>
<mat-form-field>
    <button mat-raised-button class="add">Par Jour</button>
</mat-form-field>
<mat-form-field>
    <button mat-raised-button class="add">Par Semaine</button>
</mat-form-field>
<mat-form-field>
    <button mat-raised-button class="add">Par Mois</button>
</mat-form-field>
<form>
    <mat-form-field appearance="fill">
        <label>Nom</label>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <label>Prenom</label>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <label>Email</label>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <label>77 33 33 66</label>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <label>22-07-2021</label>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <label>O8H00</label>
    </mat-form-field>
