<div class="my-container">
    <mat-toolbar>
        <h2>MODIFIER APPRENANT</h2>
    </mat-toolbar><br>
    <form [formGroup]="options" (ngSubmit)="modifyApprenant()">
        <mat-form-field appearance="fill">
            <mat-label>Nom</mat-label>
            <input type="text" matInput placeholder="entrez votre nom" formControlName="nom" [(ngModel)]="apprenant.apprenantNom">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Prenom</mat-label>
            <input type="text" matInput placeholder="entrez votre prenom" formControlName="prenom" [(ngModel)]="apprenant.apprenantPrenom">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input type="email" matInput placeholder="entrez votre e-mail" type="email" formControlName="email" [(ngModel)]="apprenant.apprenantEmail">
        </mat-form-field><br>
        <mat-form-field appearance="fill">
            <mat-label>Telephone</mat-label>
            <span matPrefix>+223 &nbsp;</span>
            <input type="number" matInput placeholder="entrez votre numéro" formControlName="telephone" [(ngModel)]="apprenant.apprenantTelephone">
            <mat-icon matSuffix>phone</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Genre</mat-label>
            <select matNativeControl formControlName="genre" [(ngModel)]="apprenant.apprenantGenre">
          <option value="Aucune" disabled>--None--</option>
          <option value="Homme">Homme</option>
          <option value="Femme">Femme</option>
        </select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Login</mat-label>
            <input matInput placeholder="entrez votre login" formControlName="login" [(ngModel)]="apprenant.apprenantLogin">
        </mat-form-field><br>
        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput type="password" placeholder="entrez votre password" formControlName="password" [(ngModel)]="apprenant.apprenantPassword">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Age</mat-label>
            <input matInput type="number" placeholder="entrez votre age" formControlName="age" [(ngModel)]="apprenant.apprenantAge">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Status</mat-label>
            <select matNativeControl formControlName="status" [(ngModel)]="apprenant.apprenantStatus">
        <option value="Aucune" disabled>--None--</option>
        <option value="activer">activer</option>
        <option value="desactiver">desactiver</option>
      </select>
        </mat-form-field><br>
        <div>
            <button mat-raised-button type="submit" color="primary" [disabled]="!options.valid">Valider</button>
        </div>
    </form>
</div>